.span4{
    background-color: rgba(121, 192, 210, 0.70);
}
.span3{
    background-color: rgba(210, 192, 27, 0.70);
}
.span9{
    background-color: rgba(64, 210, 29, 0.70);
}
.container{
    background-color: #e1d6e2;
}