.span3{
    background-color: rgba(210, 192, 27, 0.70);
}
.span9{
    background-color: rgba(64, 210, 29, 0.70);
}
.container{
    background-color: #ede4eb;
}

#header {
    background: #b6ebff;
}

#footer {
    background: #b6ebff;
}

/*  Для календаря  */
#calendar2 {
    width: 100%;
    font: monospace;
    line-height: 1.2em;
    font-size: 15px;
    text-align: center;
}
#calendar2 thead tr:last-child {
    font-size: small;
    color: rgb(85, 85, 85);
}
#calendar2 thead tr:nth-child(1) td:nth-child(2) {
    color: rgb(50, 50, 50);
}
#calendar2 thead tr:nth-child(1) td:nth-child(1):hover, #calendar2 thead tr:nth-child(1) td:nth-child(3):hover {
    cursor: pointer;
}
#calendar2 tbody td {
    color: rgb(44, 86, 122);
}
#calendar2 tbody td:nth-child(n+6), #calendar2 .holiday {
    color: rgb(231, 140, 92);
}
#calendar2 tbody td.today {
    background: rgb(220, 0, 0);
    color: #fff;
}
/* конец для календаря  */

